body{
	font-family: $main-font;
	color: $color1;
}
#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
.layout {
	@include box;
	max-width:1630px;
	padding: 0 20px;
	margin:0 auto;
}
